
Lection_1/Task_1/bin/Debug/Task_1.exe
Lection_1/Task_1/obj/Debug/main.o
Lection_1/Task_1/Task_1.depend
Lection_1/Task_1/Task_1.layout
Lection_1/Task_2/bin/Debug/Task_2.exe
Lection_1/Task_2/obj/Debug/main.o
Lection_1/Task_2/Task_2.layout
Lection_1/Task_3/bin/Debug/Task_3.exe
Lection_1/Task_3/obj/Debug/main.o
Lection_1/Task_3/Task_3.layout
Lection_1/Task_4/bin/Debug/Task_4.exe
Lection_1/Task_4/obj/Debug/main.o
Lection_1/Task_4/Task_4.layout
Lection_1/Task_5/bin/Debug/Task_5.exe
Lection_1/Task_5/obj/Debug/main.o
Lection_1/Task_5/Task_5.layout
Lection_1/Task_6/Task_6.layout
Lection_1/Task_7/bin/Debug/Task_7.exe
Lection_1/Task_7/obj/Debug/main.o
Lection_1/Task_7/Task_7.cbp
Lection_1/Task_7/Task_7.depend
Lection_1/Task_7/Task_7.layout
*.depend
Lection_2/Task_1/bin/Debug/Task_1.exe
Lection_2/Task_1/obj/Debug/main.o
Lection_2/Task_1/Task_1.cbp
Lection_2/Task_2/Task_2.cbp
Lection_2/Task_2/obj/Debug/main.o
Lection_2/Task_2/bin/Debug/Task_2.exe
Lection_2/Task_3/Task_3.cbp
Lection_2/Task_3/obj/Debug/main.o
Lection_2/Task_3/bin/Debug/Task_3.exe
Lection_2/Task_1/Task_1.layout
Lection_2/Task_2/Task_2.layout
Lection_2/Task_3/Task_3.layout
Lection_2/Task_4/Task_4.layout
Lection_2/Task_4/Task_4.cbp
Lection_2/Task_4/obj/Debug/main.o
Lection_2/Task_4/bin/Debug/Task_4.exe
Lection_3/Task_1/Task_1.layout
Lection_3/Task_1/obj/Debug/main.o
Lection_3/Task_1/bin/Debug/Task_1.exe
Lection_3/Task_1/Task_1.cbp
Lection_3/Task_2/Task_2.layout
Lection_3/Task_2/bin/Debug/Task_2.exe
Lection_3/Task_2/obj/Debug/main.o
Lection_3/Task_2/Task_2.cbp
Lection_3/Task_3/bin/Debug/Task_3.exe
Lection_3/Task_3/obj/Debug/main.o
Lection_3/Task_3/Task_3.cbp
Lection_3/Task_3/Task_3.layout
Lection_4/Task_1/bin/Debug/Task_1.exe
Lection_4/Task_1/obj/Debug/main.o
Lection_4/Task_1/Task_1.cbp
Lection_4/Task_1/Task_1.layout
Lection_4/Task_3/bin/Debug/Task_3.exe
Lection_4/Task_3/obj/Debug/main.o
Lection_4/Task_3/Task_3.cbp
Lection_4/Task_3/Task_3.layout
